body {
    background: url(../img/lava.png) 0 0 / 100% 100% no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #f5deb3;
}

/* Hide standard arrows for input with type="number".*/
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

header {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    padding: 5px;
}

.container {
    max-width: 375px;
    max-height: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "towns pitlord pitlord"
        "towns creatures creatures"
        "towns sacrifice efficient"
        "towns demons demons"
        "towns footer footer";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 2fr 4fr 2fr 2fr .8fr;
    grid-gap: 10px;
    overflow: hidden;
    /* crutch for grid-gap that causes overflow on phones shomehow. */
    margin: 0 10px 10px 10px;
}

.card {
    padding: 5px;
    border: 1px solid gold;
    background: url(../img/card_bg.png);
}

#towns-list {
    grid-area: towns;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.town {
    height: 0;
    padding-top: 65%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: 1px solid grey;
}

#pitlords-number {
    grid-area: pitlord;
    display: flex;
    justify-content: space-between;
}

.pitlord-pic {
    height: 100px;
    width: 50px;
    background: url(../img/sprite_sheets/pitlord.png) no-repeat;
}

.pitlord-pic:hover {
    animation: pitlord-hover 1s steps(8);
}

@keyframes pitlord-hover {
    100% {
        background-position: -400px 0;
    }
}

.arrow {
    background: url(../img/arrow.png) 0 0 / 100% no-repeat;
    width: 28px;
    height: 30px;
}

.number {
    font-size: 3rem;
    width: 6rem;
    text-align: center;
    color: lightgoldenrodyellow;
    background-color: rgba(0, 0, 0, 0.5);
}

#creatures-list {
    grid-area: creatures;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

#creatures-list div {
    background-repeat: no-repeat;
    border: 1px solid grey;
    width: 58px;
    height: 64px;
    margin: 0 0 5px 0;
}

#sacrificed-number {
    grid-area: sacrifice;
}


#efficient-number {
    grid-area: efficient;
}

#demons-number {
    grid-area: demons;
    display: flex;
    justify-content: space-between;
}

.demon-pic {
    height: 100px;
    width: 50px;
    background: url(../img/sprite_sheets/demon.png) no-repeat;
}

.demon-pic:hover {
    animation: demon-hover .35s steps(3)  forwards;
}

@keyframes demon-hover {
    100% {
        background-position: -150px 0;
    }
}

footer {
    grid-area: footer;
    color: white;
    text-align: right;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mirror {
    transform: scaleX(-1);
}

.selected {
    box-shadow: 0 0 0 1px gold;
}