/* Каждый браузер отображает стили по умолчанию на свой лад. Поэтому нужны обнуляющие стили.*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    /* в width и heigth входит padding и border но не маржин*/
    -webkit-box-sizing: border-box;
    /*Н-р при ширине 500px и padding 20px, ширина грагиц будет 500px, а не 520px по умолчанию*/
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    /* Промежуток между строками равен размеру шрифта. */
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*-----------------------------------*/
body {
    background: url(../img/lava.png) 0 0 / auto 100% no-repeat;
}

.container {
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header header"
        "towns pitlord pitlord"
        "towns creatures creatures"
        "towns creatures creatures"
        "towns creatures creatures"
        "towns sacrifice sacrifice"
        "towns demons demons"
        "footer footer footer";
    grid-template-columns: 20vw 1fr 1fr;
    grid-template-rows: 1fr repeat(6, 2fr) 1fr;
}

.towns {
    grid-area: towns;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pitlord {
    grid-area: pitlord;
}

.creatures {
    grid-area: creatures;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.town {
    /* height: 100%; */
    height: 0;
    padding-top: 65%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}



.townSelection {
    border: 5px red solid;
}

.creature {
    display: grid;
    grid-template-areas:
        "simple upgraded";
    width: 50%;
}

.creature div {
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: 1px solid grey;
    padding-left: 62%;
    width: 0;
}

.simple {
    grid-area: simple;
}

.upgraded {
    grid-area: upgraded;
}

.pitlord--sprite {
    height: 100px;
    width: 50px;
    background: url(../img/sprite_sheets/pitlord.png) no-repeat;
}

.pitlord--sprite:hover {
    animation: pitlord-hover 1s steps(8);
}

@keyframes pitlord-hover {
    100% {
        background-position: -400px 0;
    }
}

#castle {
    background-image: url(../img/towns/castle.gif);
}

#conflux {
    background-image: url(../img/towns/conflux.gif);
}

#cove {
    background-image: url(../img/towns/cove.gif);
}

#dungeon {
    background-image: url(../img/towns/dungeon.gif);
}

#fortress {
    background-image: url(../img/towns/fortress.gif);
}

#inferno {
    background-image: url(../img/towns/inferno.gif);
}

#necropolis {
    background-image: url(../img/towns/necropolis.gif);
}

#neutral {
    background-image: url(../img/towns/neutral.gif);
}

#rampart {
    background-image: url(../img/towns/rampart.gif);
}

#stronghold {
    background-image: url(../img/towns/stronghold.gif);
}

#tower {
    background-image: url(../img/towns/tower.gif);
}