@font-face {
    font-family: Wentrisor;
    src: url(../fonts/Wentrisor.ttf);
    size-adjust: 90%;
    font-display: swap;
}


body {
    background: url(../img/lava.webp) 0 0 / 100% 100% no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hide standard arrows for input with type="number".*/
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

* {
    font-family: Wentrisor, Arial, Helvetica, sans-serif;
    color: lightgoldenrodyellow;
}

header h1 {
    text-align: center;
    font-size: 1.6rem;
    padding: 5px;
    text-shadow: 2px 2px black;
}

.container {
    max-width: 450px;
    max-height: 720px;
    display: grid;
    grid-template-areas:
        "towns pitlord pitlord"
        "towns artifacts artifacts"
        "towns creatures creatures"
        "towns sacrifice optimal"
        "towns demons cost"
        "towns footer footer";
    grid-template-columns: 60px 180px 180px;
    grid-template-rows: 105px 68px 145px 105px 105px .8fr;
    grid-gap: 10px;
    overflow: hidden;
    /* crutch for grid-gap that causes overflow on phones shomehow. */
    margin: 0 10px 10px 10px;
}


.card {
    width: 100%;
    padding: 5px;
    border: 1px solid gold;
    background: url(../img/card_bg.webp);
}

.panel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

#towns-list {
    grid-area: towns;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.town {
    height: 0;
    padding-top: 65%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: 1px solid grey;
}

#pitlords-number {
    grid-area: pitlord;
    /*👉display: flex;
    justify-content: space-between;👈*/
}

.pitlord-pic {
    height: 100px;
    width: 50px;
    position: absolute;
    left: 0;
    background: url(../img/sprite_sheets/pitlord.webp) 0 0 / auto 100% no-repeat;
}

.pitlord-pic:hover {
    animation: pitlord-hover 1s steps(8);
}

@keyframes pitlord-hover {
    100% {
        background-position: -400px 0;
    }
}

label {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
}

.arrow {
    width: 28px;
    height: 30px;
}

.arrow.left {
    background: url(../img/left_arrow.webp) 0 0 / 100% no-repeat;
}

.right.arrow {
    background: url(../img/right_arrow.webp) 0 0 / 100% no-repeat;
}

.arrow:active {
    animation: arrow-click .2s;
}

@keyframes arrow-click {
    100% {
        transform: scale(0.8, 0.8);
    }
}

#artifacts-list {
    grid-area: artifacts;
    display: flex;
    justify-content: space-around;
}

#artifacts-list .artifact {
    width: 58px;
    height: 58px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100%;
    border: 1px solid grey;
}

#component-artifacts {
    display: flex;
}

#ring_of_Vitality {
    background: url(../img/artifacts/ring_of_Vitality.webp);
}

#ring_of_Life {
    background: url(../img/artifacts/ring_of_Life.webp);
}

#elixir_of_Life {
    background: url(../img/artifacts/elixir_of_Life.webp) no-repeat;
}

#artifacts-list #elixir_of_Life {
    background-color: rgba(0, 0, 0, 0.7);
}

#vial_of_Lifeblood {
    background: url(../img/artifacts/vial_of_Lifeblood.webp);
}

.number {
    font-size: 3rem;
    width: 6rem;
    text-align: center;
    line-height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

#creatures-list {
    grid-area: creatures;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

    padding: 5px 5px 0 5px;

    overflow: auto;
}

#creatures-list .creature {
    background-repeat: no-repeat;
    border: 1px solid grey;
    width: 58px;
    height: 64px;
    margin: 0 5px 5px 0;
}

#sacrificed-number {
    grid-area: sacrifice;
}

#optimal-number {
    grid-area: optimal;
}

#demons-number {
    grid-area: demons;
    display: flex;
    justify-content: center;
}

.demon-pic {
    position: absolute;
    left: 0;
    height: 100px;
    width: 50px;
    background: url(../img/sprite_sheets/demon.webp) no-repeat;
}

.demon-pic.mirror {
    left: auto;
    right: 0;
}

.demon-pic:hover {
    animation: demon-hover .35s steps(3) forwards;
}

@keyframes demon-hover {
    100% {
        background-position: -150px 0;
    }
}

#cost {
    grid-area: cost;
}

#cost-result {
    font-size: 1.5rem;
}

#cost-pic {
    position: absolute;
    bottom: 0;
    width: 58px;
    height: 35px;
    background: url(../img/cost.webp) 0 0 / 100% 100% no-repeat;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

footer p {
    line-height: 1rem;
    color: white;
}

a {
    font-family: serif;
    color: #f5deb3;
    font-size: 0.9rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mirror {
    transform: scaleX(-1);
    left: auto;
    right: 0;
}

.selected {
    box-shadow: 0 0 0 1px gold;
}

#how-to-link {
    font-weight: 600;
    text-shadow: 2px 2px black;
}

#how-to {
    display: none;
}

#how-to #pitlord-window {
    height: 297px;
    width: 311px;
    margin-top: 0.4rem;
}

#how-to:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#how-to .card {
    max-width: 700px;
    max-height: 720px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to .card::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    content: "";
    cursor: default;
    z-index: -1;
}

#how-to h2 {
    margin-top: 0.8rem;
}

#how-to p {
    font: 1em sans-serif;
    margin-top: 0.4rem;
    width: 100%;
}

#how-to i {
    font: italic 1em sans-serif;
}

#how-to ol {
    margin-top: 0.4rem;
    width: 100%;
    margin-left: 2rem;
}

#how-to li {
    font: 1em sans-serif;
}

.ok-button {
    display: block;
    width: 64px;
    height: 30px;
    background: url('../img/sprite_sheets/ok_button.webp') no-repeat;
    margin-top: 0.8rem;
}

.ok-button:active {
    background-position: -64px;
}

@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 5vw;
    }
}



@media only screen and (max-width: 375px) {
    .container {
        grid-template-columns: 50px 150px 130px;
    }
}

@media only screen and (max-height: 645px) {
    .container {
        grid-template-rows: 90px 68px 145px 80px 90px 32px;
    }
}

@media only screen and (max-width: 355px), (max-height: 595px) {
    .container {
        grid-gap: 1px;
        grid-template-rows: 70px 68px 145px 80px 105px 32px;
        grid-template-columns: 50px 150px 100px;
    }

    .card {
        border-color: burlywood;
    }

    #pitlords-number {
        justify-content: flex-end;
    }

    #pitlords-number label {
        width: auto;
        top: auto;
        left: 5px;
    }

    .pitlord-pic {
        display: none;
    }

    .demon-pic {
        display: none;
    }
}

@media only screen and (max-height: 565px) {
    .container {
        grid-gap: 0px;
        grid-template-rows: 40px 68px 145px 80px 80px 32px;
    }

    .number {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
}